@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style: none;
  /* Removes default bullet points */
  margin: 0;
  /* Removes default margin */
  padding: 0;
  /* Removes default padding */
}

ul li {
  position: relative;
  /* Allows for absolute positioning */
  margin-bottom: 10px;
  /* Adds some vertical space between list items */
  padding-left: 20px;
  /* Adds space for custom bullet */
}

ul li:before {
  content: '';
  /* Adds custom bullet */
  position: absolute;
  left: 0;
  top: 6px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  /* Changes bullet color */
  padding-left: 7px;
}

ul li::after {
  content: '';
  /* Adds custom bullet */
  position: absolute;
  left: 0;
  top: 6px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  /* Changes bullet color */
  padding-left: 7px;
}

ul li {
  /* Adds a border */
  padding: 10px;
  /* Increases padding */
  margin-bottom: 15px;
  /* Increases margin */
}

ul li {
  display: inline-block;
  /* Makes list items inline */
  margin-right: 10px;
  /* Adds space between buttons */
  padding: 10px 20px;
  /* Increases padding */
  border-radius: 5px;
  /* Adds rounded corners */
}
